@tailwind base;

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: underline;
    @apply text-brand-800;
    cursor: pointer;
}

@tailwind components;
@tailwind utilities;
