@tailwind base;

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: underline;
    @apply text-brand-800;
    cursor: pointer;
}

.title-xl {
    @apply text-4xl text-brand-800 font-semibold;
}

.title-lg {
    @apply text-3xl text-brand-800 font-semibold;
}

.title-md {
    @apply text-xl text-brand-800 font-semibold;
}

@tailwind components;
@tailwind utilities;
