@tailwind base;

a {
    text-decoration: none;
    color: inherit;
}

a:not(.button-link):hover {
    text-decoration: underline;
    @apply text-brand-800;
    cursor: pointer;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background: #c1cebf;
    border-radius: 16px;
}

::-webkit-scrollbar-thumb {
    background: #7b857b;
    border-radius: 16px;
}

html {
    scroll-behavior: smooth !important;
}

@supports (-moz-appearance:none) {
    .firefox-section-img-w {
        width: 100% !important;
    }
}

.title-xl {
    @apply text-4xl text-brand-800 font-semibold;
}

.title-lg {
    @apply text-3xl text-brand-800 font-semibold;
}

.title-md {
    @apply text-2xl text-brand-800 font-semibold;
}

.title-sm {
    @apply text-xl text-brand-800 font-semibold;
}

@tailwind components;
@tailwind utilities;
